body{
    margin:0px;
    font-family: 'Poppins', sans-serif;
      
  }
 
  
   h1{
      
      font-size: 50px;
      color: dimgrey;
      

  }
  
  .half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
  }
  h1 span{
  
    color: orange;
  }
  .half-width img{
    width: 100;
  }
  
  .anchor-button{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon,tomato);
    padding:10px 40px;
    border-radius:5px;
    color: white;
    font-weight: 700;
  }
  p{
    color: dimgray;
  }
  .dream-area{
    height: 500px;
    display:flex;
    width:100%;
    height:100%;
    background-image: url("Image/mid-baner.png");
    background-repeat: no-repeat;
   
  }
  h2{
  
    font-size: 40px;
  
  }

.txt-area{
  text-align: center;
  color:dimgrey ;
  font-size: 15px;
  width: 40%;
  margin-left: 400px;
  padding-left: 15px 8px 5px 5px;
  text-overflow: ellipsis;  
}
.txt-area h3{
    color: dimgrey;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.experience-area div{

  box-shadow: 0px 3px 5px gray;
  height: 30%;
}
#contect-box{
 border-radius: 2px solid;
  width: 25%;
  padding:3px 3px;;
  font-family:Arial, Helvetica, sans-serif;
  margin-bottom: 50px;
  text-align: center;
}
.footer{
  background-color: #000005;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  padding-left: 20px;

}

  